<link href="/stylesheets/admin-cast/main.min.css" rel="stylesheet" />

<% let newReview = {}; %>

<div class="row">
    <div class="col-12">
        <div class="ibox ibox-fullheight">
            <div class="ibox-head">
                <div class="ibox-title">Danh sách bình luận</div>
            </div>
            <div class="ibox-body">
                <button class="btn btn-primary ibox-title btn-add-review" data-toggle="modal"
                    data-target="#commentModal">
                    Thêm bình luận</button>
                <ul class="media-list mt-3">
                    <% for (let i = 0; i < reviews.length; i++) { %>
                    <!-- <li class="media">
                        <a class="media-img" href="javascript:;">
                            <img src="/images/products/27.jpg" alt="image" width="45">
                        </a> -->
                        <div class="media-body mt-4">
                            <div class="media-heading">
                                <a class="badge badge-secondary mr-3"> <%= i + 1 %> </a>
                                <a class="comment-author mr-3" href="javascript:;"><%= reviews[i].name %></a><small
                                    class="text-muted ml-2"><%= reviews[i].createdDate.toLocaleString() %></small>
                                <div class="float-right font-13">
                                    <a class="text-muted mr-2" data-toggle="tooltip" data-original-title="Sửa">
                                        <i class="fa fa-pencil-alt btnEdit" data-toggle="modal"
                                            data-target="#commentModal" data-id="<%= reviews[i].id %>"
                                            data-name="<%= reviews[i].name %>" data-phone="<%= reviews[i].phoneNumber %>"
                                            data-message="<%= reviews[i].message %>"></i></a>
                                    <form class="d-inline-block" action="/products/<%= product.id %>/review/delete"
                                        method="POST">
                                        <button class="text-muted btn-trans btn-del-review" data-toggle="tooltip"
                                            data-original-title="Xóa" data-id="<%= reviews[i].id %>">
                                             <a class="text-light">
                                                <i class="fa fa-trash"></i>
                                            </a> 
                                        </button>
                                        <input type="text" class="reviewId" name="reviewId" hidden>
                                    </form>
                                </div>
                            </div>
                            <p class="mt-2"><pre><%= reviews[i].message %></pre></p>
                        </div>
                    </li>
                    <% } %>
                </ul>
            </div>
            
            <table class="table table-bordered tablef-hover" id="comments-table" hidden>
                <thead class="thead-default thead-lg">
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let review of reviews) { %>
                    <tr>
                        <td></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="modal-content" action="/products/<%= product.id %>/review/add-or-edit" method="POST">
            <div class="modal-header">
                <h5 class="modal-title" id="commentModalLabel">Thông tin bình luận</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="nameInput">Họ tên</label>
                    <input type="text" class="form-control" id="nameInput" placeholder="Nhập họ tên" name="name"
                        required>
                </div>
                <div class="form-group">
                    <label for="phoneInput">Sô điện thoại</label>
                    <input type="text" class="form-control" id="phoneInput" placeholder="Nhập số điện thoại"
                        name="phoneNumber" required>
                </div>
                <div class="form-group">
                    <label for="messageInput">Bình luận</label>
                    <textarea class="form-control" id="messageInput" placeholder="Nhập nội dung" cols="30" rows="5"
                        name="message" required></textarea>
                </div>
                <div hidden>
                    <input type="text" class="reviewId" name="reviewId">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-primary">Lưu</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="/javascripts/admin-cast/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $('.btnEdit').click(function () {
            let reviewId = $('.btnEdit').attr('data-id');
            $('.reviewId').val(reviewId);
            if (reviewId) {
                let reviewName = $('.btnEdit').attr('data-name');
                $('#nameInput').val(reviewName);
                let reviewPhone = $('.btnEdit').attr('data-phone');
                $('#phoneInput').val(reviewPhone);
                let reviewMessage = $('.btnEdit').attr('data-message');
                $('#messageInput').text(reviewMessage);
            }
        })
        $('.btn-add-review').click(function () {
            $('#nameInput').val("");
            $('#phoneInput').val("");
            $('#messageInput').text("");
        })
        $('.btn-del-review').click(function () {
            let reviewId = $('.btnEdit').attr('data-id');
            $('.reviewId').val(reviewId);
        })
    })
    
    $(function () {
        $('#comments-table').DataTable({
            pageLength: 10,
            fixedHeader: true,
            responsive: true,
            "sDom": 'rtip',
            columnDefs: [{
                targets: 'no-sort',
                orderable: false
            }]
        });
    });
        
</script>