<link href="/stylesheets/admin-cast/datatables.min.css" rel="stylesheet" />
<link href="/stylesheets/admin-cast/bootstrap-select.min.css" rel="stylesheet" />
<link href="/stylesheets/admin-cast/main.min.css" rel="stylesheet" />
<script type="text/javascript" src="/javascripts/admin-cast/bootstrap-select.min.js"></script>

<!-- START PAGE CONTENT-->
<div class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-body">
            <h5 class="font-strong mb-4">DANH SÁCH ĐƠN HÀNG
                <% if(locals.user){ %> ĐÃ ĐẶT</h5>
            <% } else { %>
            </h5>
            <div class="flexbox row">
                <form class="flexbox col-12 col-lg-auto mb-4" action="/orders" method="GET">
                    <label class="mb-0 mr-2">Loại:</label>
                    <select class="show-tick form-control form-control-solid" id="status-filter" title="Vui lòng chọn"
                        value="<%= status %>" name="status" data-style="btn-solid" data-width="150px"
                        onchange="this.form.submit()">
                        <option value="">Tất cả</option>
                        <option value="<%= constants.ORDER_STATUS_PENDING %>">Đang chờ</option>
                        <option value="<%= constants.ORDER_STATUS_SHIPPING %>">Đang vận chuyển</option>
                        <option value="<%= constants.ORDER_STATUS_COMPLETED %>">Đã hoàn thành</option>
                        <option value="<%= constants.ORDER_STATUS_CANCELED %>">Đã hủy</option>
                    </select>
                </form>
                <div class="flexbox col-12 col-lg-auto row">
                    <div class="input-group-icon input-group-icon-left mb-4 col-12 col-md-6 col-lg-auto">
                        <span class="input-icon input-icon-right font-16"><i class="fa fa-search"></i></span>
                        <input class="form-control form-control-rounded form-control-solid" id="key-search" type="text"
                            placeholder="Tìm kiếm ...">
                    </div>
                </div>
                <!-- <a class="btn btn-rounded btn-primary btn-air mb-4 col-12 col-md-6 col-lg-auto"
                        href="/orders/add">Thêm đơn hàng</a> -->
            </div>
            <% } %>
            <div class="table-responsive row">
                <% if(locals.message ){ 
                    if(locals.message.success) { %>
                <div class="alert alert-success" role="alert">
                    <%= message.success %>
                </div>
                <% } 
                if(locals.message.error) { %>
                <div class="alert alert-danger" role="alert">
                    <%= message.error %>
                </div>
                <% } } %>
                <table class="table table-bordered table-hover" id="orders-table">
                    <thead class="thead-default thead-lg">
                        <tr>
                            <th>#</th>
                            <th>Mã đơn hàng</th>
                            <th>Tên khách hàng</th>
                            <th>Tổng tiền</th>
                            <th>Trạng thái</th>
                            <th>Thanh toán</th>
                            <th>Ngày đặt hàng</th>
                            <th class="no-sort">Hủy</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < orders.length; i++) { %>
                        <tr>
                            <td><%= i + 1 %></td>
                            <td>
                                <a href="/orders/<%= orders[i].id %>"><%= orders[i].id %></a>
                            </td>
                            <td><%= orders[i].userId.username %></td>
                            <td><%= orders[i].total.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %></td>
                            <td>
                                <% switch(orders[i].status) {
                                    case constants.ORDER_STATUS_PENDING: %>
                                <span class="badge badge-primary badge-pill">Đang chờ</span>
                                <% break;
                                    case constants.ORDER_STATUS_SHIPPING: %>
                                <span class="badge badge-info badge-pill">Đang vận chuyển</span>
                                <% break;
                                    case constants.ORDER_STATUS_COMPLETED: %>
                                <span class="badge badge-success badge-pill">Đã hoàn thành</span>
                                <% break;
                                    case constants.ORDER_STATUS_CANCELED: %>
                                <span class="badge badge-danger badge-pill">Đã hủy</span>
                                <% break;
                                } %>
                            </td>
                            <td> <% if(orders[i].paid){ %>Đã thanh toán<% } else { %>Chưa thanh toán<% } %> </td>
                            <td><%= orders[i].dateCreated.toLocaleString() %></td>
                            <td>
                                <% if(orders[i].status != constants.ORDER_STATUS_CANCELED && orders[i].status != constants.ORDER_STATUS_COMPLETED) { %>
                                <form action="/orders/<%= orders[i].id %>/cancel" method="POST">
                                    <button type="submit" class="text-muted font-16 btn-trans"><i
                                            class="fa fa-times-circle"></i></a>
                                </form>
                                <% } %>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            </f>
        </div>
    </div>
    <!-- END PAGE CONTENT-->


    <script type="text/javascript" src="/javascripts/admin-cast/datatables.min.js"></script>
    <script type="text/javascript" src="/javascripts/admin-cast/app.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#status-filter option[value='<%= status %>']").attr("selected", true);
        });
        $(function () {
            $('#orders-table').DataTable({
                pageLength: 10,
                fixedHeader: true,
                responsive: true,
                "sDom": 'rtip',
                columnDefs: [{
                    targets: 'no-sort',
                    orderable: false
                }]
            });

            var table = $('#orders-table').DataTable();
            $('#key-search').on('keyup', function () {
                table.search(this.value).draw();
            });
            $('#type-filter').on('change', function () {
                table.column(4).search($(this).val()).draw();
            });
        });
    </script>