<link href="/stylesheets/admin-cast/datatables.min.css" rel="stylesheet" />
<link href="/stylesheets/admin-cast/bootstrap-select.min.css" rel="stylesheet" />
<link href="/stylesheets/admin-cast/main.min.css" rel="stylesheet" />
<script type="text/javascript" src="/javascripts/admin-cast/bootstrap-select.min.js"></script>

<% const defaultImg = "images/default/no-image.png";%>

<div class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-body">
            <h5 class="font-strong mb-4">Danh mục hàng hóa</h5>
            <div class="flexbox row">
                <div class="flexbox col-12 col-lg-auto mb-4">
                </div>
                <div class="flexbox col-12 col-lg-auto row">
                    <div class="input-group-icon input-group-icon-left mb-4 col-12 col-md-6 col-lg-auto">
                        <span class="input-icon input-icon-right font-16"><i class="fa fa-search"></i></span>
                        <input class="form-control form-control-rounded form-control-solid" id="key-search" type="text"
                            placeholder="Tìm kiếm ...">
                    </div>
                    <a class="btn btn-rounded btn-primary btn-air mb-4 col-12 col-md-6 col-lg-auto"
                        href="/products/add">Thêm hàng hóa</a>
                </div>
            </div>
            <div class="table-responsive row m-0">
                <div id="products-table_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                    <table class="table table-bordered table-hover dataTable no-footer dtr-inline" id="products-table"
                        role="grid" aria-describedby="products-table_info" style="width: 1268px;">
                        <thead class="thead-default thead-lg">
                            <tr role="row">
                                <th class="sorting" tabindex="0" aria-controls="products-table" rowspan="1" colspan="1"
                                    style="width: 27.5px;" aria-label="ID: activate to sort column ascending">Mã số</th>
                                <th class="sorting" tabindex="0" aria-controls="products-table" rowspan="1" colspan="1"
                                    style="width: 389.5px;" aria-label="Product: activate to sort column ascending">
                                    Tên sản phẩm</th>
                                <th class="sorting_desc" tabindex="0" aria-controls="products-table" rowspan="1"
                                    colspan="1" style="width: 100.5px;"
                                    aria-label="Category: activate to sort column ascending" aria-sort="descending">
                                    Loại sản phẩm</th>
                                <th class="sorting" tabindex="0" aria-controls="products-table" rowspan="1" colspan="1"
                                    style="width: 105.5px;" aria-label="Price: activate to sort column ascending">Giá
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="products-table" rowspan="1" colspan="1"
                                    style="width: 46.5px;" aria-label="SKU: activate to sort column ascending">Nhãn hàng
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="products-table" rowspan="1" colspan="1"
                                    style="width: 90.5px;" aria-label="Quantity: activate to sort column ascending">
                                    Số lượng</th>
                                <th class="sorting" tabindex="0" aria-controls="products-table" rowspan="1" colspan="1"
                                    style="width: 82.5px;" aria-label="Actions: activate to sort column ascending">
                                    Chỉnh sửa</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% if (products.length > 0) { %>
                            <% for (let product of products) { %>
                            <tr role="row" class="odd">
                                <td tabindex="0" class="">
                                    <a href="/products/<%= product.id %>"><%= product.id %>
                                    </a>
                                </td>
                                <td> <img class="mr-3"
                                        src="<% if (product && product.imageUrl) { %><%= product.imageUrl %><% } else { %><%= defaultImg %> <% } %>"
                                        alt="image" width="60">
                                    <%= product.title %>
                                </td>
                                <td class="sorting_1"><%= product.categoryId.title %></td>
                                <td><%= product.price %></td>
                                <td><%= product.brandId.title %></td>
                                <td>
                                    <% if(product.numberInventory > 0) { %>
                                    <%= product.numberInventory %>
                                    <% } else { %>
                                    <span class="badge badge-danger badge-pill">Hết hàng</span>
                                    <% } %>
                                </td>
                                <td>
                                    <a class="text-light mr-3 font-16" href="/products/<%= product.id %>"><i
                                            class="fa fa-pencil-alt"></i></a>
                                    <form action="/products/<%= product.id %><%- '/delete' %>" method="POST">
                                        <input type="hidden" value="<%= product.id %>" name="productId">
                                        <button type="submit">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            <% } %>
                            <% } else { %>
                            <!-- <h1>No Products Found!</h1> -->
                            <% } %>
                        </tbody>
                    </table>
                    <!-- <div class="dataTables_info" id="products-table_info" role="status" aria-live="polite">Showing 1 to
                        4 of 4 entries (filtered from 23 total entries)</div>
                    <div class="dataTables_paginate paging_simple_numbers" id="products-table_paginate">
                        <ul class="pagination">
                            <li class="paginate_button page-item previous disabled" id="products-table_previous"><a
                                    href="#" aria-controls="products-table" data-dt-idx="0" tabindex="0"
                                    class="page-link">Previous</a></li>
                            <li class="paginate_button page-item active"><a href="#" aria-controls="products-table"
                                    data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                            <li class="paginate_button page-item next disabled" id="products-table_next"><a href="#"
                                    aria-controls="products-table" data-dt-idx="2" tabindex="0"
                                    class="page-link">Next</a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>


<!-- End of Page Wrapper -->
<script type="text/javascript" src="/javascripts/admin-cast/datatables.min.js"></script>
<script type="text/javascript" src="/javascripts/admin-cast/app.min.js"></script>
<script>
    $(function () {
        $('#products-table').DataTable({
            pageLength: 10,
            fixedHeader: true,
            responsive: true,
            "sDom": 'rtip',
        });
        var table = $('#products-table').DataTable();
        $('#key-search').on('keyup', function () {
            table.search(this.value).draw();
        });
        $('#type-filter').on('change', function () {
            table.column(2).search($(this).val()).draw();
        });
    });
</script>