<link href="/stylesheets/admin-cast/bootstrap-select.min.css" rel="stylesheet" />
<!-- PLUGINS STYLES-->
<link href="/stylesheets/admin-cast/bootstrap-tagsinput.css" rel="stylesheet" />
<!-- THEME STYLES-->
<link href="/stylesheets/admin-cast/main.min.css" rel="stylesheet" />


<% let editing = (product.id != null); %>

<div class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-body">
            <h5 class="font-strong mb-5">THÔNG TIN HÀNG HÓA</h5>
            <div class="row">
                <div class="col-lg-4">
                    <div>
                        <img id="img-upload"
                            src="/<% if (!product.imageUrl) { %><%= constants.DEFAULT_IMG %><% } else { %><%= product.imageUrl %><% } %>">
                    </div>
                    <div class="flexbox-b mt-4 row">
                        <% if(product.imageDescription && product.imageDescription.length > 0) {
                             for (let i = 0; i < 3 && i < product.imageDescription.length; i++) { %>
                        <div class="mr-2 col-3">
                            <img class="img-thumbnail" src="/<%- product.imageDescription[i].image %>" alt="image">
                        </div>
                        <% } %>
                        <div class="file-input-plus file-input" data-toggle="modal" data-target="#imagesModal">
                            <i class="fa fa-plus" data-toggle="modal" data-target="#imagesModal"></i>
                        </div>
                        <% } %>
                    </div>
                </div>
                <div class="col-lg-8">
                    <form action="/products/<% if (editing) { %><%= product.id %><%-'/edit'%><% } else { %>add<% } %>"
                        method="POST" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-sm-12 form-group mb-4">
                                <label>Tên hàng hóa</label>
                                <input class="form-control form-control-solid" type="text" name="title"
                                    value="<%= product.title %>" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group mb-4">
                                <label>Giá</label>
                                <input class="form-control form-control-solid" type="number" name="price"
                                    value="<%= product.price %>" required>
                            </div>
                            <div class="col-sm-6 form-group mb-4">
                                <label>Số lượng</label>
                                <input class="form-control form-control-solid" type="number" name="numberInventory"
                                    value="<%= product.numberInventory %>" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group mb-4">
                                <label>Thương hiệu </label>
                                <div>
                                    <div class="select-box">
                                        <select class="custom-select" id="inputGroupBrands"
                                            value="<%= product.brandId %>" name="brandId" aria-placeholder="" required>
                                            <option value="">Vui lòng chọn...</option>
                                            <% for (let i = 0; i < brands.length; i++) { %>
                                            <option value="<%= brands[i].id %>"><%= brands[i].title %></option>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group mb-4">
                                <label>Loại sản phẩm </label>
                                <div>
                                    <div class="select-box">
                                        <select class="custom-select" id="inputGroupCategories"
                                            value="<%= product.categoryId %>" name="categoryId" required>
                                            <option value="">Vui lòng chọn...</option>
                                            <% for (let i = 0; i < categories.length; i++) { %>
                                            <option value="<%= categories[i].id %>">
                                                <%= categories[i].title %></option>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group mb-4">
                            <label>Mô tả</label>
                            <textarea class="form-control form-control-solid" rows="4"
                                name="description"><%= product.description %></textarea>
                        </div>
                        <div class="form-group mb-4">
                            <label>Thêm hình ảnh</label>
                            <div>
                                <input id="img-input" type="file" name="myProductImages" accept="image/*" multiple>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label class="ui-switch switch-icon mr-3 mb-0">
                                <input type="checkbox" checked="">
                                <span></span>
                            </label>Khả dụng</div>
                        <div class="text-right">
                            <button class="btn btn-primary btn-air mr-2" type="submit">
                                <% if (editing) { %>Cập nhật<% } else { %>Thêm mới<% } %></button>
                            <button class="btn btn-secondary">Hủy bỏ</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="imagesModal" tabindex="-1" role="dialog" aria-labelledby="imagesModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imagesModalLabel">Danh sách hình ảnh</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <% if(product.imageDescription && product.imageDescription.length > 0) {
                    for (let i = 0; i < product.imageDescription.length; i++) { %>
                    <div class="col-6">
                        <img class="img-thumbnail" src="/<%= product.imageDescription[i].image %>"
                            alt="image">
                        <button onclick="setDefaultImage('<%= product.imageDescription[i].id %>')">Đặt làm ảnh đại diện</button>
                        <button onclick="deleteImage('<%= product.imageDescription[i].id %>')">Xóa</button>
                    </div>
                    <% } } else { %>
                        <p class="text-center">Không có dữ liệu</p>
                        <p class="text-center">Vui lòng đóng tùy chọn, sau đó chọn thêm hình ảnh và nhấn lưu để lưu hình ảnh.</p>
                    <% } %>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>


<!-- <script src="/javascripts/admin-cast/bootstrap-select.min.js"></script> -->
<!-- PAGE LEVEL PLUGINS-->
<script src="/javascripts/admin-cast/bootstrap-tagsinput.min.js"></script>
<!-- CORE SCRIPTS-->
<script src="/javascripts/admin-cast/app.min.js"></script>
<!-- PAGE LEVEL SCRIPTS-->
<script>
    //On init select box
    $(document).ready(function () {
        //Must be: let brand = <%- JSON.stringify(product.brandId) %>;
        let brand = <%- JSON.stringify(product.brandId) %>;
        let brandId = brand._id;
        $("#inputGroupBrands").val(brandId);

        // Must be: let category = <%- JSON.stringify(product.categoryId) %>;
        let category = <%- JSON.stringify(product.categoryId) %>;
        let categoryId = category._id;
        $("#inputGroupCategories").val(categoryId);
    });

    $(function () {
        $('.tagsinput').tagsinput({
            tagClass: 'label label-primary'
        });
        $('.tagsinput.form-control-solid').siblings('.bootstrap-tagsinput').addClass('form-control-solid');

        // $(".category-item").click(function () { //use a class, since your ID gets mangled
        //     $(this).addClass("checked"); //add the class to the clicked element
        //     alert('ok');
        // });

        //Handle image on changed
        $("#img-input").change(function ($event) {
            let file = $event.target.files[0];
            if ($event.target.files && file) {
                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onloadend = function (e) {
                    // console.log( e.target.result);
                    $('#img-upload').attr('src', e.target.result);
                };
            }
        });
    });

    function setDefaultImage(imgId){
        $.ajax({
            url: '/products/' + '<%= product.id %>' + '/images/set-default',
            type: 'POST',
            data: {
                imageId: imgId
            },
            success: function (data) {
                if(data){
                    setTimeout(function(){
                        $('#img-upload').attr('src', '/' + data.product.imageUrl);
                        $('#imagesModal').modal('toggle');
                    },3000);
                }
            },
            error: function (e) {
                console.log(e.message);
            }
        });
    }

    function deleteImage(imgId){
        $.ajax({
            url: '/products/' + '<%= product.id %>' + '/images/delete',
            type: 'POST',
            data: {
                imageId: imgId
            },
            success: function (data) {
                if(data){
            //         // setTimeout(function(){
            //         // },3000);
                    location.reload();
                }
            },
            error: function (e) {
                console.log(e.message);
            }
        });
    }
</script>