<script type="text/javascript" src="/javascripts/admin-cast/bootstrap-select.min.js"></script>
<link href="/stylesheets/admin-cast/datatables.min.css" rel="stylesheet" />
<link href="/stylesheets/admin-cast/bootstrap-select.min.css" rel="stylesheet" />
<link href="/stylesheets/admin-cast/main.min.css" rel="stylesheet" />

<!-- START PAGE CONTENT-->
<div class="page-content fade-in-up pl-4 pr-4">
    <div class="ibox">
        <div class="ibox-body">
            <div class="flexbox row">
                <div class="flexbox col-12 col-md-auto mb-4">
                    <h5 class="font-strong mb-4">DANH SÁCH KHÁCH HÀNG</h5>
                </div>
                <form class="flexbox col-12 col-lg-auto mb-4 d-inline-block" action="/users/customers"
                    method="GET">
                    <label class="mb-0 mr-2 nowrap">Trạng thái:</label>
                    <select class="show-tick form-control form-control-solid" id="available-filter"
                        title="Vui lòng chọn" name="available" data-style="btn-solid" data-width="150px"
                        onchange="this.form.submit()">
                        <option value="">Tất cả</option>
                        <option value="true">Khả dụng</option>
                        <option value="false">Đã vô hiệu hóa</option>
                    </select>
                </form>
                <div class="flexbox col-12 col-lg-auto row">
                    <div class="input-group-icon input-group-icon-left mb-4 col-12 col-md-6 col-lg-auto">
                        <span class="input-icon input-icon-right font-16"><i class="fa fa-search"></i></span>
                        <input class="form-control form-control-rounded form-control-solid" id="key-search" type="text"
                            placeholder="Tìm kiếm ...">
                    </div>
                    <a class="btn btn-rounded btn-primary btn-air mb-4 col-12 col-md-6 col-lg-auto"
                        href="/users/customers/add">Thêm khách hàng</a>
                </div>
            </div>
            <div class="table-responsive row">
                <% if(locals.message ){ 
                        if(locals.message.success) { %>
                <div class="alert alert-success" role="alert">
                    <%= message.success %>
                </div>
                <% } 
                    if(locals.message.error) { %>
                <div class="alert alert-danger" role="alert">
                    <%= message.error %>
                </div>
                <% } } %>
                <table class="table table-bordered tablef-hover" id="orders-table">
                    <thead class="thead-default thead-lg">
                        <tr>
                            <th>#</th>
                            <th>Mã tài khoản</th>
                            <th>Họ tên</th>
                            <th>Tên người dùng</th>
                            <th>Email</th>
                            <th>Số điện thoại</th>
                            <th class="no-sort"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (users.length > 0) { %>
                        <% for (let user of users) { %>
                        <tr>
                            <td></td>
                            <td>
                                <a href="/users/customers/<%= user.id %>">
                                    <%= user.id %>
                                </a>
                            </td>
                            <td>
                                <a href="/users/customers/<%= user.id %>">
                                    <%= user.name %>
                                </a>
                            </td>
                            <td>
                                <a href="/users/customers/<%= user.id %>">
                                    <%= user.username %>
                                </a>
                            </td>
                            <td>
                                <%= user.email %>
                            </td>
                            <td>
                                <%= user.phone %>
                            </td>
                            <td>
                                <a class="text-light mr-3 font-16" href="/users/customers/<%= user.id %>"><i
                                        class="fa fa-pencil-alt"></i></a>
                                <% if(user.available == true) { %>
                                <form action="/users/customers/<%= user.id %><%- '/delete' %>" method="POST"
                                    class="d-inline-block">
                                    <button type="submit" class="btn-trans">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </form>
                                <% } %>
                            </td>
                        </tr>
                        <% } %>
                        <% } else { %>
                        <!-- <h1>No Users Found!</h1> -->
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->


<script type="text/javascript" src="/javascripts/admin-cast/datatables.min.js"></script>
<script type="text/javascript" src="/javascripts/admin-cast/app.min.js"></script>

<script>
    $(document).ready(function () {
        $("#available-filter option[value='<%= available %>']").attr("selected", true);
    });
    $(function () {
        $('#orders-table').DataTable({
            pageLength: 10,
            fixedHeader: true,
            responsive: true,
            "sDom": 'rtip',
            columnDefs: [{
                targets: 'no-sort',
                orderable: false
            }]
        });

        var table = $('#orders-table').DataTable();
        $('#key-search').on('keyup', function () {
            table.search(this.value).draw();
        });
        $('#type-filter').on('change', function () {
            table.column(4).search($(this).val()).draw();
        });
    });
</script>