<!DOCTYPE html>
<html>

<head>
    <% include ../common/partials/head %>
    <title>Đơn hàng</title>
    <link href="/stylesheets/admin-cast/datatables.min.css" rel="stylesheet" />
    <link href="/stylesheets/admin-cast/main.min.css" rel="stylesheet" />
</head>

<body>
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Include sidebar partial -->
        <% include ../common/partials/sidebar %>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Include topbar partial -->
                <% include ../common/partials/topbar %>

                <!-- Page Content -->
                <div class="page-content fade-in-up pl-4 pr-4">
                    <div class="d-flex align-items-center mb-5">
                        <span class="mr-4 static-badge badge-pink"><i class="fa fa-shopping-cart"></i></span>
                        <div>
                            <h5 class="font-strong">Đơn hàng <%= order.id %></h5>
                            <div class="text-light"><%= order.userId.username %>, <%= order.dateCreated %>, 
                                <% switch(order.status) {
                                        case constants.ORDER_STATUS_PENDING: %>
                                    Đang chờ
                                <% break;
                                        case constants.ORDER_STATUS_SHIPPING: %>
                                    Đang vận chuyển
                                <% break;
                                        case constants.ORDER_STATUS_COMPLETED: %>
                                    Đã hoàn thành
                                <% break;
                                        case constants.ORDER_STATUS_CANCELED: %>
                                    Đã hủy
                                <% break;
                                    } %>
                            </div>
                        </div>
                    </div>
                    <% if(locals.message ){ 
                        if(locals.message.success) { %>
                    <div class="alert alert-success" role="alert">
                        <%= message.success %>
                    </div>
                    <% } 
                    if(locals.message.error) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= message.error %>
                    </div>
                    <% } } %>
                    <div class="row">
                        <div class="col-xl-7">
                            <div class="ibox">
                                <div class="ibox-body">
                                    <h5 class="font-strong mb-5">Danh sách hàng mua</h5>
                                    <table class="table table-bordered table-hover">
                                        <thead class="thead-default thead-lg">
                                            <tr>
                                                <th>Mã số</th>
                                                <th>Tên hàng hóa</th>
                                                <th>Đơn giá</th>
                                                <th>Số lượng</th>
                                                <th>Thành tiền</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(let item of order.products) { %>
                                            <tr>
                                                <td>3</td>
                                                <td>
                                                    <img class="mr-3" src="/images/products/10.jpg" alt="image"
                                                        width="60" /><%= item.title %></td>
                                                <td><%= item.price %></td>
                                                <td><%= item.quantity %></td>
                                                <td><%= item.amount %></td>
                                            </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                    <div class="d-flex justify-content-end">
                                        <div class="text-right" style="width:300px;">
                                            <div class="row mb-2">
                                                <div class="col-6">Tổng tiền</div>
                                                <div class="col-6"><%= order.total %></div>
                                            </div>
                                            <!-- <div class="row mb-2">
                                                <div class="col-6">Giảm giá 5%:</div>
                                                <div class="col-6">-$63.25</div>
                                            </div>
                                            <div class="row font-strong font-20">
                                                <div class="col-6">Tổng thanh toán:</div>
                                                <div class="col-6">
                                                    <div class="h3 font-strong">$1201.71</div>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5">
                            <div class="ibox">
                                <div class="ibox-body">
                                    <h5 class="font-strong mb-4">Chi tiết đơn hàng</h5>
                                    <div class="row align-items-center mb-3">
                                        <div class="col-4 text-light">Tổng thanh toán</div>
                                        <div class="col-8 h3 font-strong text-pink mb-0">
                                            <%= order.total %></div>
                                    </div>
                                    <div class="row align-items-center mb-3">
                                        <div class="col-4 text-light">Ngày dặt hàng</div>
                                        <div class="col-8"><%= order.dateCreated %></div>
                                    </div>
                                    <div class="row align-items-center mb-3">
                                        <div class="col-4 text-light">Ngày giao hàng</div>
                                        <div class="col-8"><%= order.dateCompleted %></div>
                                    </div>
                                    <div class="row align-items-center mb-3">
                                        <div class="col-4 text-light">Trạng thái</div>
                                        <div class="col-8">
                                            <% switch(order.status) {
                                                    case constants.ORDER_STATUS_PENDING: %>
                                            <span class="badge badge-primary badge-pill">Đang chờ</span>
                                            <% break;
                                                    case constants.ORDER_STATUS_SHIPPING: %>
                                            <span class="badge badge-info badge-pill">Đang vận chuyển</span>
                                            <% break;
                                                    case constants.ORDER_STATUS_COMPLETED: %>
                                            <span class="badge badge-success badge-pill">Đã hoàn thành</span>
                                            <% break;
                                                    case constants.ORDER_STATUS_CANCELED: %>
                                            <span class="badge badge-danger badge-pill">Đã hủy</span>
                                            <% break;
                                                } %>
                                        </div>
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col-4 text-light">Thanh toán</div>
                                        <div class="col-8">
                                            <img src="/images/logos/visa.png" alt="image" width="55" />
                                        </div>
                                    </div>
                                    <% if(order.status != constants.ORDER_STATUS_COMPLETED && order.status != constants.ORDER_STATUS_CANCELED) { %>
                                    <div class="pt-3 text-right">
                                        <form action="/orders/<%= order.id %>/cancel" method="POST"
                                            class="d-inline-block">
                                            <button type="submit" class="btn btn-danger">Hủy đơn</button>
                                        </form>
                                        <form action="/orders/<%= order.id %>/change-status" method="POST"
                                            class="d-inline-block">
                                            <button type="submit" class="btn btn-info">Thay đổi trạng thái</button>
                                        </form>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                            <div class="ibox">
                                <div class="ibox-body">
                                    <h5 class="font-strong mb-4">Thông tin người nhận</h5>
                                    <div class="row align-items-center mb-3">
                                        <div class="col-4 text-light">Họ tên</div>
                                        <div class="col-8"><%= order.receiver.name %></div>
                                    </div>
                                    <div class="row align-items-center mb-3">
                                        <div class="col-4 text-light">Địa chỉ</div>
                                        <div class="col-8"><%= order.receiver.address %></div>
                                    </div>
                                    <div class="row align-items-center mb-3">
                                        <div class="col-4 text-light">Email</div>
                                        <div class="col-8"><%= order.receiver.email %></div>
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col-4 text-light">Số điện thoại</div>
                                        <div class="col-8"><%= order.receiver.phone %></div>
                                    </div>
                                    <div class="pt-3 text-right">
                                        <button type="submit" class="btn btn-info" data-toggle="modal"
                                            data-target="#receiverModal">Thay đổi thông tin</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="receiverModal" tabindex="-1" role="dialog"
                    aria-labelledby="receiverModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <form class="modal-content" action="/orders/<%= order.id %>/edit-user" method="POST">
                            <div class="modal-header">
                                <h5 class="modal-title" id="receiverModalLabel">Thông tin người nhận</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="nameInput">Họ tên</label>
                                    <input type="text" class="form-control" id="nameInput" placeholder="Nhập họ tên" value="<%= order.receiver.name %>"
                                        name="name" required>
                                </div>
                                <div class="form-group">
                                    <label for="nameInput">Địa chỉ</label>
                                    <input type="text" class="form-control" id="addressInput" placeholder="Nhập địa chỉ" value="<%= order.receiver.address %>"
                                        name="address" required>
                                </div>
                                <div class="form-group">
                                    <label for="phoneInput">Sô điện thoại</label>
                                    <input type="text" class="form-control" id="phoneInput"
                                        placeholder="Nhập số điện thoại" name="phone" value="<%= order.receiver.phone %>" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                <button type="submit" class="btn btn-primary">Lưu</button>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- End Page Content -->

            </div>
            <!-- End Main Content -->

            <!-- Footer -->
            <!-- Include footer partial -->
            <% include ../common/partials/footer %>
            <!-- End Footer -->

        </div>
        <!-- End Content Wrapper -->


    </div>
    <!-- End of Page Wrapper -->

    <!-- Include bottom partial -->
    <% include ../common/partials/bottom %>

    <script type="text/javascript" src="/javascripts/admin-cast/datatables.min.js"></script>
    <script type="text/javascript" src="/javascripts/admin-cast/app.min.js"></script>
</body>

</html>