<!DOCTYPE html>
<html>

<head>
    <% include ../common/partials/head %>
    <title>Hàng hóa bạn chạy</title>
    <link href="/stylesheets/admin-cast/datatables.min.css" rel="stylesheet" />
    <link href="/stylesheets/admin-cast/bootstrap-select.min.css" rel="stylesheet" />
    <link href="/stylesheets/admin-cast/main.min.css" rel="stylesheet" />
    <script type="text/javascript" src="/javascripts/admin-cast/bootstrap-select.min.js"></script>

</head>

<body>
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Include sidebar partial -->
        <% include ../common/partials/sidebar %>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Include topbar partial -->
                <% include ../common/partials/topbar %>

                <!-- Page Content -->
                <div class="container-fluid">

                    <div class="page-content fade-in-up">
                        <div class="ibox">
                            <div class="ibox-body">
                                <h5 class="font-strong mb-3">Top 10 hàng hóa bán chạy</h5>

                                <div class="row">
                                    <div class="col-md-6 m-auto">
                                        <div class="ibox">
                                            <div class="ibox-body">
                                                <div id="flot_pie_chart" style="height:280px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="table-responsive row">
                                    <table class="table table-bordered table-hover" id="products-table">
                                        <thead class="thead-default thead-lg">
                                            <tr>
                                                <th>#</th>
                                                <th>Mã hàng hóa</th>
                                                <th>Tên hàng hóa</th>
                                                <th>Đơn giá</th>
                                                <th>Tổng doanh số</th>
                                                <th class="no-sort">Chi tiết</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(let item of topProducts) { %>
                                            <tr>
                                                <td></td>
                                                <td><%= item._id %></td>
                                                <td><%= item.product.title %></td>
                                                <td><%= item.product.price %></td>
                                                <td><%= item.summary %> cái</td>
                                                <td>
                                                    <a class="text-light mr-3 font-16"
                                                        href="/products/<%= item._id %>"><i class="fa fa-eye"></i></a>
                                                </td>
                                            </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PAGE CONTENT-->


                </div>
                <!-- End Page Content -->

            </div>
            <!-- End Main Content -->

            <!-- Footer -->
            <!-- Include footer partial -->
            <% include ../common/partials/footer %>
            <!-- End Footer -->

        </div>
        <!-- End Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Include bottom partial -->
    <% include ../common/partials/bottom %>

    <script type="text/javascript" src="/javascripts/admin-cast/datatables.min.js"></script>
    <script type="text/javascript" src="/javascripts/admin-cast/app.min.js"></script>
    <script type="text/javascript" src="/javascripts/admin-cast/jquery.flot.js"></script>
    <script type="text/javascript" src="/javascripts/admin-cast/jquery.flot.tooltip.min.js">
    </script>
    <script type="text/javascript" src="/javascripts/admin-cast/jquery.flot.pie.js">
    </script>
    <script>
        $(function () {
            $('#products-table').DataTable({
                pageLength: 10,
                fixedHeader: true,
                responsive: true,
                "sDom": 'rtip',
                columnDefs: [{
                    targets: 'no-sort',
                    orderable: false
                }]
            });

            var table = $('#products-table').DataTable();
            $('#key-search').on('keyup', function () {
                table.search(this.value).draw();
            });
            $('#type-filter').on('change', function () {
                table.column(4).search($(this).val()).draw();
            });
        });

        // Flot Pie Chart
        $(function () {
            const chartColor = ['#660066', '#003366', '#0066dc', '#079fab', '#bce7fd', '#fef65b',
                '#ffa500', '#f08080', '#a3ff00', '#008000'
            ];
            let chartData = [];
            const topProducts = <%- JSON.stringify(topProducts) %>;
            const total = <%- JSON.stringify(total) %>;
            for (let i = 0; i < topProducts.length; i++) {
                let data = {
                    label: topProducts[i].product.title,
                    data: +topProducts[i].summary / total,
                    color: chartColor[i]
                };
                chartData.push(data);
            }

            var plotObj = $.plot($("#flot_pie_chart"), chartData, {
                series: {
                    pie: {
                        show: true
                    }
                },
                grid: {
                    hoverable: true
                },
                tooltip: true,
                tooltipOpts: {
                    content: "%p.0%, %s", // show percentages, rounding to 2 decimal places
                    shifts: {
                        x: 360,
                        y: 180
                    },
                    defaultTheme: false
                }
            });
        });
    </script>
</body>

</html>