<% const webAdminAdress = "https://webshop-admin.herokuapp.com/" %>

<%- include("../common/containers/header")-%>
<div class="custom-border-bottom py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0"><a href="/">Trang chủ</a> <span class="mx-2 mb-0">/</span> <strong
          class="text-black">Cửa hàng</strong></div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-3 order-1 mb-5 mb-md-0">
        <div class="border p-4 rounded mb-4">
          <h3 class="mb-3 h6 text-uppercase text-black d-block">Loại sản phẩm</h3>
          <ul class="list-unstyled mb-0">
            <li class="mb-1"><a href="#" class="d-flex"><span>Laptop Gaming</span> <span
                  class="text-black ml-auto">(10)</span></a></li>
            <li class="mb-1"><a href="#" class="d-flex"><span>Laptop văn phòng</span> <span
                  class="text-black ml-auto">(15)</span></a></li>
            <li class="mb-1"><a href="#" class="d-flex"><span>Laptop doanh nhân</span> <span
                  class="text-black ml-auto">(12)</span></a></li>
            <li class="mb-1"><a href="#" class="d-flex"><span>Laptop ultrabook</span> <span
                  class="text-black ml-auto">(12)</span></a></li>
          </ul>
        </div>

        <div class="border p-4 rounded mb-4">
          <div class="mb-4">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">Khoảng giá</h3>
            <div id="slider-range" class="border-primary"></div>
            <input type="text" name="text" id="amount" class="form-control border-0 pl-0 bg-white" disabled="" />
          </div>

          <div class="mb-4">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">Thương hiệu</h3>
            <label for="s_brand_1" class="d-flex">
              <input type="checkbox" id="s_b1" class="mr-2 mt-1"> <span class="text-black">DELL (19)</span>
            </label>
            <label for="s_brand_2" class="d-flex">
              <input type="checkbox" id="s_b2" class="mr-2 mt-1"> <span class="text-black">ASUS (12)</span>
            </label>
            <label for="s_brand_3" class="d-flex">
              <input type="checkbox" id="s_b3" class="mr-2 mt-1"> <span class="text-black">MSI (13)</span>
            </label>
            <label for="s_brand_4" class="d-flex">
              <input type="checkbox" id="s_b4" class="mr-2 mt-1"> <span class="text-black">MACBOOK (11)</span>
            </label>
          </div>
        </div>
      </div>

      <div class="col-md-9 order-2">
        <div class="row align">
          <div class="col-md-12 mb-5">
            <div class="float-md-left">
              <h2 class="text-black h5">Tất cả</h2>
            </div>
            <div class="d-flex">
              <div class="dropdown mr-1 ml-md-auto">
                <button type="button" class="btn btn-white btn-sm dropdown-toggle px-4" id="dropdownMenuOffset"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Chọn
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                  <a class="dropdown-item" href="#">Sản phẩm mới nhất</a>
                  <a class="dropdown-item" href="#">Sản phẩm bán chạy</a>
                </div>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-white btn-sm dropdown-toggle px-4" id="dropdownMenuReference"
                  data-toggle="dropdown">Sắp xếp</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                  <a class="dropdown-item" href="#">Tên tăng dần</a>
                  <a class="dropdown-item" href="#">Tên giảm dần</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Giá tăng dần</a>
                  <a class="dropdown-item" href="#">Giá giảm dần</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <% for (let product of prods) { %>
          <div class="col-lg-6 col-md-6 item-entry mb-4">
            <a href="/shop/<%= product._doc._id %>" class="product-item md-height bg-gray d-block">
              <img src="<%= data.constants.WEB_ADMIN_PATH %>/<%= product.imageUrl %>" alt="Image" class="img-fluid">
            </a>
            <h2 class="item-title"><a href="/shop/<%= product._doc._id %>">Laptop
                <%= product._doc.title %></a></h2>
            <strong class="item-price"><del>$46.00</del> <%= product._doc.price %></strong>
            <div class="star-rating">
              <!-- <%# for(let i=0; i< = product._doc.rating.average; i++) { %>
              <span class="icon-star2 text-warning"></span>
              <%# } %> -->
            </div>
          </div>
          <% } %>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="site-block-27">
              <ul>
                <% if (hasFirstPage) { %>
                <li><a href="?page=1">&lt;&lt;</a></li>
                <% } %>

                <% if (hasPreviousPage) { %>
                <li><a href="?page=<%= previousPage %>"><%= previousPage %></a></li>
                <% } %>
                
                <li class="active"><a href="?page=<%= currentPage %>"><%= currentPage %></a></li>

                <% if (hasNextPage) { %>
                <li><a href="?page=<%= nextPage %>"><%= nextPage %></a></li>
                <% } %>

                <% if (hasLastPage) { %>
                <li><a href="?page=<%= lastPage %>">&gt;&gt;</a></li>
                <% } %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("../common/containers/footer") -%>