<% const webAdminAdress = "https://webshop-admin.herokuapp.com/" %>

<%- include("../common/containers/header")-%>
<div class="custom-border-bottom py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0"><a href="/">Trang chủ</a> <span class="mx-2 mb-0">/</span> <strong
          class="text-black">Cửa hàng</strong></div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-3 order-1 mb-5 mb-md-0">
        <div class="border p-4 rounded mb-4">
          <h3 class="mb-3 h6 text-uppercase text-black d-block">Loại sản phẩm</h3>
          <ul class="list-unstyled mb-0">
            <% for (let category of categories) { %>
            <li class="mb-1"><a href="/shop/category/<%= category._id._id %>"
                class="d-flex"><span><%= category._id.title %></span>
                <span class="text-black ml-auto">(<%= category.count %>)</span></a></li>
            <% } %>
          </ul>
        </div>

        <div class="border p-4 rounded mb-4">
          <h3 class="mb-3 h6 text-uppercase text-black d-block">Thương hiệu</h3>
          <ul class="list-unstyled mb-0">
            <% for (let brand of brands) { %>
            <li class="mb-1"><a href="/shop/brand/<%= brand._id._id %>"
                class="d-flex"><span><%= brand._id.title %></span>
                <span class="text-black ml-auto">(<%= brand.count %>)</span></a></li>
            <% } %>
          </ul>
        </div>

        <div class="border p-4 rounded mb-4">
          <div class="mb-4">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">Khoảng giá</h3>
            <div id="slider-range" class="border-primary"></div>
            <input type="text" name="text" id="amount" class="form-control border-0 pl-0 bg-white" disabled="" />
          </div>
          <div class="col-md-12 text-right">
            <button type="submit" value="submit" class="btn px-5 btn-primary">Tìm theo giá</button>
          </div>
        </div>


      </div>

      <div class="col-md-9 order-2">
        <div class="row align">
          <div class="col-md-12 mb-5">
            <div class="float-md-left">
              <h2 class="text-black h5"> <%= searchInformation %> </h2>
            </div>
            <div class="d-flex">
              <div class="dropdown mr-1 ml-md-auto">
                <!-- <button type="button" class="btn btn-white btn-sm dropdown-toggle px-4" id="dropdownMenuOffset"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Chọn
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                  <a class="dropdown-item" href="">Sản phẩm bán kém nhất</a>
                  <a class="dropdown-item" href="">Sản phẩm bán chạy nhất</a>
                </div> -->
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-white btn-sm dropdown-toggle px-4" id="dropdownMenuReference"
                  data-toggle="dropdown">Sắp xếp</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                  <!-- <a class="dropdown-item" href="#">Tên tăng dần</a>
                  <a class="dropdown-item" href="#">Tên giảm dần</a>
                  <div class="dropdown-divider"></div> -->
                  <a class="dropdown-item" href="?price=1">Giá tăng dần</a>
                  <a class="dropdown-item" href="?price=-1">Giá giảm dần</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <% for (let product of prods) { %>
          <div class="col-lg-6 col-md-6 item-entry mb-4">
            <a href="/shop/<%= product._doc._id %>" class="product-item md-height bg-gray d-block">
              <img src="<%= data.constants.WEB_ADMIN_PATH %>/<%= product.imageUrl %>" alt="Image" class="img-fluid">
            </a>
            <h2 class="item-title"><a href="/shop/<%= product._doc._id %>">Laptop
                <%= product._doc.title %></a></h2>
            <strong class="item-price">
              <!-- <del>$46.00</del> -->
              <%= product._doc.price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %></strong>
            <div class="star-rating">
              <% for (let i=0; i < product._doc.average; i++) { %>
              <span class="icon-star2 text-warning"></span>
              <% } %>
            </div>
          </div>
          <% } %>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="site-block-27">
              <ul>
                <%- include("../common/containers/pagination")-%>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("../common/containers/footer") -%>
</body>

</html>