<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= pageTitle %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
  <link rel="stylesheet" href="/fonts/icomoon/style.css">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/magnific-popup.css">
  <link rel="stylesheet" href="/css/jquery-ui.css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/owl.theme.default.min.css">


  <link rel="stylesheet" href="/css/aos.css">

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>

<body>
  <div class="site-wrap">
    <div class="site-navbar bg-white py-2">

      <div class="search-wrap">
        <div class="container">
          <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form action="/search">
            <input type="text" class="form-control" name="keyword" placeholder="Nhập từ khóa và nhấn enter để tìm kiếm"> 
          </form>
        </div>
      </div>

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="/" class="js-logo-clone">ShopMax</a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li class="active"><a href="/">Trang chủ</a></li>
                <li class="has-children">
                  <a href="/shop">Loại sản phẩm</a>
                  <ul class="dropdown">
                    <% for (let category of locals.data.categories) { %>
                    <li><a href="/shop/category/<%= category._id %>"><%= category.title %> </a></li>
                    <% } %>
                  </ul>
                </li>
                <li class="has-children">
                  <a href="/shop">Thương hiệu</a>
                  <ul class="dropdown">
                    <% for (let brand of locals.data.brands) { %>
                    <li><a href="/shop/brand/<%= brand._id %>""><%= brand.title %> </a></li>
                    <% } %>
                  </ul>
                </li>
                <li class=" has-children">
                        <a href="" class="icons-btn d-inline-block"><span class="icon icon-person"></span></a>
                        <ul class="dropdown">
                          <% if (userLogin && userLogin._id) { %>
                          <li><a href="/user/profile" class="icons-btn d-inline-block">Thông tin cá nhân</a></li>
                          <li><a href="/order/history-pay" class="icons-btn d-inline-block">Lịch sử mua hàng</a></li>
                          <li><a href="/logout" class="icons-btn d-inline-block">Đăng xuất</span></a></li>
                          <% } else { %>
                          <li><a href="/login" class="icons-btn d-inline-block">Đăng nhập</span></a></li>
                          <li><a href="/register" class="icons-btn d-inline-block">Đăng ký</span></a></li>
                          <li><a href="/forgot" class="icons-btn d-inline-block">Quên mật khẩu</span></a></li>
                          <% } %>
                          <li><a href="/search/advance" class="icons-btn d-inline-block">Tìm kiếm nâng cao</a></li>
                        </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          <div class="icons">
            <a href="" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
            <a href="/cart" class="icons-btn d-inline-block bag">
              <span class="icon-shopping-bag"></span>
              <span class="number"><%= locals.data.cartQuantity %></span>
            </a>
            <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
                class="icon-menu"></span></a>
          </div>
        </div>
      </div>
    </div>