<%- include("../common/containers/header")-%>
<div class="container">
  <div class="view-account">
    <section class="module">
      <div class="module-inner">
        <div class="side-bar">
          <nav class="side-menu">
            <ul class="nav">
              <li class="active"><a href="#"><span class="fa fa-user"></span> Thông tin </a></li>
              <li><a href="/order/history-pay"><span class="fa fa-credit-card"></span> Hóa đơn</a></li>
            </ul>
          </nav>
        </div>
        <div class="content-panel">
          <% if (session.flash) { %>
          <div class="alert alert-success" role="alert"><%= session.flash %> </div>
          <% } %>
          <form class="form-horizontal" action="/user/update-info" method="POST">
            <fieldset class="fieldset">
              <!-- <h3 class="fieldset-title">Thông tin cá nhân</h3> -->
              <div class="form-group">
                <label class="col-md-2 col-sm-3 col-xs-12 control-label">Họ và tên</label>
                <div class="col-md-10 col-sm-9 col-xs-12">
                  <input type="text" class="form-control" value="<%= session.passport.user.name %>" name="name">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 col-sm-3 col-xs-12 control-label">Địa chỉ</label>
                <div class="col-md-10 col-sm-9 col-xs-12">
                  <input type="text" class="form-control" value="<%= session.passport.user.address %>" name="address">
                </div>
              </div>
            </fieldset>

            <fieldset class="fieldset mt-5">
              <h3 class="fieldset-title">Thông tin liên lạc</h3>
              <div class="form-group">
                <label class="col-md-2  col-sm-3 col-xs-12 control-label">Email</label>
                <div class="col-md-10 col-sm-9 col-xs-12">
                  <input type="email" class="form-control" value="<%= session.passport.user.email %>" name="email">

                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2  col-sm-3 col-xs-12 control-label">Số điện thoại</label>
                <div class="col-md-10 col-sm-9 col-xs-12">
                  <input type="text" class="form-control" value="<%= session.passport.user.phone %>" name="phone">
                </div>
              </div>
            </fieldset>
            <hr>
            <div class="form-group">
              <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                <input class="btn btn-primary" type="submit" value="Cập nhật">
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>
<%- include("../common/containers/footer") -%>